
@{
    ViewBag.Title = "BahanBakuKeluar";
}

<h2>BahanBakuKeluar</h2>

<style>
    .action {
        width: 30%
    }
</style>

<p>
    @Html.ActionLink("Create New", "CreateBahanBakuKeluar")
</p>

<div class="body">
    <div class="table-responsive">
        <table id="datatable2" class="table table-striped table-bordered dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable-buttons_info">
            <thead>
                <tr>
                    <th>
                        Tanggal Keluar
                    </th>
                    <th>
                        Nama Bahan Baku
                    </th>
                    <th>
                        Jumlah
                    </th>
                    <th>
                        Satuan
                    </th>
                    <th>
                        Deskripsi
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>
            </tbody>

        </table>
    </div>
</div>


@Html.Hidden("item-to-delete", "", new { @id = "item-to-delete" })
@section Scripts {
    <script>
        var table;
        $(document).ready(function () {
            table=$('#datatable2').DataTable({
                ajax: {
                    type: "GET",
                    url: '@Url.Action("BahanBakuKeluar", new { methode = '2' })',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                },
                columns: [
                    { "data": "tanggal_keluar", "autoWidth": true },
                    { "data": "nama_bahan_baku", "autoWidth": true },
                    { "data": "jumlah", "autoWidth": true },
                    { "data": "satuan", "autoWidth": true },
                    { "data": "deskripsi", "autoWidth": true },
                    {
                        "data": "id", "autoWidth": true, "render": function (data) {
                            return '<a class="btn btn-primary action" id=' + data + ' href="EditBahanBakuKeluar?id='+parseInt(data)+'" >Edit</a>' +
                                '<a class="delete_kue btn btn-danger action" id=' + data + '" onclick="showPopUp(this)">Delete</a>';
                        }
                    },
                ]
            })
        })
    </script>
    <script>
        function showPopUp(e) {
            var id = e.id;
            $('#item-to-delete').val(id);
            $('.bs-example-modal-sm').modal('show');
        }

    $('#btnContinueDelete').click(function() {
        var id = parseInt($('#item-to-delete').val());
         $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteBahanBakuKeluar")',
            data: JSON.stringify({ idBahanBaku: id }), //use id here
            dataType: "json",
            contentType: "application/json; charset=utf-8",
             success: function (respons) {
                 if (respons.message == "succes") {
                     table.ajax.reload();
                     NotifSucces();
                 }
                 else {
                     $('.bs-example-modal-sm').modal('hide');
                     NotifFiled()
                 }
            },
             error: function () {
                 NotifFiled();
             }


            });
    });
    </script>
}

<!-- Small modal -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Deleted Data </h4>
            </div>
            <div class="modal-body">
                <p>
                    Are you cure for deleted data ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger col-lg-3" id="btnContinueDelete" data-dismiss="modal"> Delete</button>
                <button type="button" class="btn btn-primary col-lg-3 fc-corner-left" style="float: right;" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- /modals -->
